<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Club's Comfy Cube Game</h2>
                    <h3 class="section-subheading text-muted">Timeline for our current project. Find us on <a href="https://github.com/UCMercedGameDevelopmentClub/The-Clubs-Comfy-Cube-Game">github</a>, or play the current build on <a href="https://ucmgdc.itch.io/tcccg?password=ucmgdc">itch.io</a>.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/legend.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2019</h4>
                                    <h4 class="subheading">Planning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finalizing game mechanics and design.</p>
                                </div>
                            </div>
                        </li>
                    
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>the
                                    <br>Alliance</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>