  <footer class="bg-light-gray">
        <div class="container" >
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                            {% if network.title == 'itch-io' %}
                            <li><a href="{{ network.url }}"><img src= "img/logos/itchio-textless-white.svg"   height="20px" width="20px" /></a>
                            {% else %}
                            <li><a href="{{ network.url }}"><i class="fab fa-{{ network.title }}"></i></a>
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
